<li id="skill-<%= skill.id %>">
  <span class="title">
    <%= skill.title %>
    <% if current_user?(skill.user) %>
        <%= link_to "delete", skill, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <span class="descriptor">
    <%= skill.descriptor %>
  </span>
</li>
