// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.experiences {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .experience-header {
    display: contents;
    border: 1px solid gray;
    background-color: green;

    .company {
      float: left;
      margin-left: 20px;
    }
    .period {
      float: right;
      margin-right: 20px;
    }
  }

  .roles {
    margin-left: 60px;
  }
}
